/* theme pour automne 2015
tout noir avec une lune */

body {
	background: #000 !important;
	color: #6e6e6e;
}
a {
	color: #78302a;
}

#une{
	width:850px;
	padding-top:150px;
	color: #DFDFDF;
}
#une a {
	color: #fff;
}

.footer {
	background: transparent !important;
}