/src/config/*
/src/ecrire/
/src/IMG/*
/src/plugins/*
/src/tmp/*
/src/media/
/src/local/
/src/custom_plugins/
/src/plugins-dist/
/src/squelettes-dist/
/src/prive/

/src/rien.gif
/src/spip.php
/src/index.php

/src/squelettes/rubrique-30.html
/src/squelettes/css/khamsin*
/src/squelettes/js/khamsin.js
/src/squelettes/css/img/khamsin*

/src/squelettes/css/journal/*.css
*.swp

/node_modules/

/src/squelettes/js/libs/jquery.min.js
/src/squelettes/js/libs/three.min.js

/maria/*
!/maria/.gitkeep
!/maria/database/.gitkeep
!/maria/logs/.gitkeep

!/src/tmp/dump
!/src/IMG/.gitkeep
!/src/plugins/.gitkeep
!/src/config/mes_options.php
