@light:#eee;
@grey:#777;
@dark:#555;
@color:#444;
@link:#248;
@hover:#06e;
@visited:#551a8b;


@import "normalize.less";
@import "global-mobile.less";

/* ===== Primary Styles ========================================================
   Author:	gaspard
   ========================================================================== */

@import "typo.less";










@import "media-queries.less";
@import "helpers.less";
@import "print.less";
