body {
	background-color: rgb(185, 102, 56);
	background-image: url('./sommaire_tennis_carpentras.jpg');
	background-size: cover;
	color: rgb(68,32,24);
}

a {
	color: #333;
}

.footer .colophon {
	color: rgb(250, 207, 178);
}
.footer a {
	color: rgb(255, 227, 198);
}