body {
	background-color: #3873b9;
	background-image: url('./sommaire_boca.jpg');
	background-size: cover;
	color: #f2f2f2;
	text-shadow: 0 0 25px #000;
}

#une a, a {
	color: #fff;
	text-shadow: 0 0 25px #000;
}

.footer .colophon {
	color: #edebeb;
}
.footer a {
	color: #f1f1f1;
}
