/*
	ryogasp
	journal
	main style.less
*/
/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #444;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}
a {
  color: #248;
}
a:visited {
  color: #551a8b;
}
a:hover {
  color: #06e;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.wrapper {
  width: 85%;
  margin: 0 5%;
}
::-moz-selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #369;
  color: #fff;
  text-shadow: none;
}
#main section.content {
  padding: 2em 0;
}
#main article img {
  max-width: 100%;
}
#main article header {
  padding: 2em 0;
}
#main aside {
  padding: 0px 5% 10px;
}
#main aside section {
  display: none;
}
#main aside section.nav {
  display: block;
}
#footer-container footer {
  border-top: 1px solid #eee;
}
#footer-container footer .colophon a {
  text-decoration: none;
  color: #555;
  display: none;
}
#footer-container footer .colophon a.login_modal {
  display: inline;
}
#footer-container footer .colophon .sep {
  display: none;
}
#footer-container footer .tech {
  display: none;
  float: right;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 #title {
  padding-top: 20px;
}
@font-face {
  font-family: 'AdelleBasicBold';
  src: url('adellebasic_bold-adelle.eot');
  src: url('adellebasic_bold-adelle.eot?#iefix') format('eot'), url('adellebasic_bold-adelle.woff') format('woff'), url('adellebasic_bold-adelle.ttf') format('truetype'), url('adellebasic_bold-adelle.svgz#webfontQtT5Mhrs') format('svg'), url('adellebasic_bold-adelle.svg#webfontQtT5Mhrs') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font: 16px/26px Georgia;
}
h1,
h2 {
  font-weight: normal;
  font-style: normal;
  font-family: 'AdelleBasicBold', Georgian, Times, serif;
  line-height: 1em;
}
.active {
  font-weight: bold;
}
.light {
  color: #777;
}
#header-container {
  color: #555;
}
#header-container h1#title {
  font-size: 2.1em;
  margin-bottom: 0.1em;
}
#header-container h1#title a {
  color: #555;
  text-decoration: none;
}
#header-container h1#title a:visited {
  color: #555;
}
#header-container h1#title a:hover {
  color: #06e;
}
#header-container .last_pubdate,
#header-container .ariane {
  display: none;
  color: #ccc;
}
#header-container .last_pubdate a,
#header-container .ariane a {
  color: #bbb;
  text-decoration: none;
}
#header-container .last_pubdate a:hover,
#header-container .ariane a:hover {
  text-decoration: underline;
}
article header h1,
article header h2 {
  margin-bottom: 0.1em;
}
article header h1 a,
article header h2 a {
  text-decoration: none;
  color: #444;
}
article header h1 a:visited,
article header h2 a:visited {
  color: #444;
}
article header h1 a:hover,
article header h2 a:hover {
  color: #06e;
}
article header h1 {
  font-size: 1.8em;
  margin-top: 0;
}
article header p {
  margin: 0;
  padding: 0;
}
article section.chapo {
  font-size: 1.1em;
  padding-left: 1em;
  color: #555;
  border-left: 0.5em solid #eee;
}
article section h2 {
  font-size: 1.6em;
}
article section blockquote.spip_poesie {
  color: #777;
}
article figure {
  margin: 0.3em 0 1em 0;
}
article figure figcaption {
  margin: 0.3em 0;
}
article figure figcaption .title {
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1.2em;
  padding: 0.4em;
}
article figure figcaption .legend {
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1.1em;
  padding: 0.4em;
}
article .spip_documents_left {
  margin: 1em 1em 1em 0;
}
article .spip_documents_right {
  margin: 1em 0 1em 1em;
}
article footer hr {
  clear: both;
}
aside {
  font-size: 0.8em;
}
aside ul,
aside ol {
  padding: 0 0 0 20px;
}
/* reponse formulaire et messages d'erreur (vient de spip.css) */
.erreur_message {
  display: block;
  color: red;
}
.reponse_formulaire {
  margin-bottom: 1.5em;
  padding: 0.75em;
  border: 2px solid #ddd;
}
.reponse_formulaire_ok {
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
.reponse_formulaire_erreur {
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
.reponse_formulaire_ok a {
  color: #264409;
}
.reponse_formulaire_erreur a {
  color: #8a1f11;
}
li.erreur input[type="text"],
li.erreur input.text,
li.erreur input[type="password"],
li.erreur input.password,
li.erreur textarea {
  background-color: #FBE3E4;
  border-color: #FBC2C4;
}
.comments .vcard .avatar {
  border: medium none;
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
}
.comments .item {
  display: none;
}
.comments ul,
.comments li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.comments .comment-meta {
  margin: 0;
  font-weight: bold;
}
.comments .comment-meta small {
  font-size: 100%;
}
.comments .comment-meta abbr {
  border: 0;
}
.comments .comment-meta a {
  color: #222;
}
.comments .comment-meta a:focus,
.comments .comment-meta a:hover,
.comments .comment-meta a:active {
  color: #fff;
}
.comments .comment-meta .hyperlien {
  padding: 0;
  background: transparent;
  font-weight: normal;
}
.comments-nb {
  float: right;
}
/* Formulaire de forum */
.formulaire_forum {
  display: none;
  padding: 1em 0;
  margin-top: 1em;
}
.formulaire_forum form,
.formulaire_forum textarea {
  width: 100%;
}
.formulaire_forum ul,
.formulaire_forum li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.formulaire_forum legend {
  display: none;
}
.formulaire_forum .saisie_titre input.text {
  width: 100%;
}
.formulaire_forum .session_qui {
  display: none;
}
.formulaire_forum .saisie_texte .explication {
  font-size: 0.9em;
  font-style: italic;
}
.formulaire_forum input.text,
.formulaire_forum textarea {
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px;
}
.formulaire_forum .explication {
  padding: 0;
  margin: 0;
}
.forum-fil {
  border-top: 1px solid #ddd;
}
.forum-chapo .photo {
  float: left;
  width: 60px;
  margin-right: 20px;
}
.forum-about {
  float: left;
  width: 350px;
}
.forum-texte {
  clear: both;
}
.forum-anchor {
  display: block;
  float: right;
  padding-right: 8px;
  color: #ccc;
}
.formulaire_forum label {
  display: block;
}
ul .forum-message {
  border: none;
  margin: 0;
  padding: 0;
}
ul .forum-chapo {
  background: #fff;
  border-color: #fff;
  border: none;
  border-right: 1px solid #ddd;
  font-size: 0.8em;
  height: 60px;
}
.journal_portfolio .portfolio_thumbs ul,
.journal_portfolio .portfolio_thumbs li {
  padding: 0;
  margin: 0;
}
.journal_portfolio .portfolio_thumbs li {
  list-style-type: none;
}
.journal_portfolio .portfolio_thumbs a {
  opacity: 0.8;
}
.journal_portfolio .portfolio_thumbs a:hover {
  opacity: 1;
}
.journal_portfolio .portfolio_thumbs .spip_logos {
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
  border: none;
}
.journal_portfolio .portfolio_big img {
  visibility: hidden;
}
.journal_portfolio .portfolio_big .spip_doc_titre,
.journal_portfolio .portfolio_big .spip_doc_descriptif {
  margin: 0.5em 0;
}
.journal_portfolio .raquo {
  position: absolute;
  visibility: hidden;
  right: 5%;
  height: 300px;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 10%;
  z-index: 3;
  color: #fff;
}
a.badge {
  text-decoration: none;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #777;
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: normal normal normal 0.9em Arial, sans-serif;
}
a.badge:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 5px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* Media Queries
 */
@media only screen and (min-width: 321px) {
  body {
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fefefe 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fefefe));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fefefe 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #fefefe 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #fefefe 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #fefefe 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@fakewhitelight', endColorstr='@fakewhitedark', GradientType=0);
    /* IE6-9 */
  }
  #header-container h1#title {
    font-size: 3em;
  }
  #header-container .last_pubdate,
  #header-container .ariane {
    display: block;
  }
  #footer-container footer .colophon a,
  #footer-container footer .colophon .sep {
    display: inline;
  }
  #main aside section {
    display: block;
  }
}
@media only screen and (min-width: 901px) {
  #main .content {
    float: left;
    width: 57%;
  }
  #main aside {
    float: right;
    width: 28%;
  }
  #footer-container footer .tech {
    display: block;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1024px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
/* =============================================================================
   Print Styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  article p a[href]:after {
    content: " (" attr(href) ")";
  }
  article p abbr[title]:after {
    content: " (" attr(title) ")";
  }
  header a[href]:after,
  .comment-meta a[href]:after,
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images,  links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  aside,
  footer {
    display: none;
  }
}
.search-bar {
  text-align: right;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.search-bar form {
  display: block;
  margin: 0;
  padding: 2px;
}
.search-bar form label {
  display: inline-block;
  margin: 0;
  padding: 0 10px;
}
#spip-admin .spip-admin-bloc,
#spip-admin.spip-admin-float {
  bottom: 0;
  position: fixed;
  white-space: nowrap;
  z-index: 100;
  right: auto;
  top: auto;
}
@media only screen and (max-width: 800px) {
  #spip-admin .spip-admin-bloc .spip-admin-boutons,
  #spip-admin.spip-admin-float .spip-admin-boutons {
    clear: both;
    float: none;
    color: #fc0;
    display: block;
    border-radius: 0;
  }
  #spip-admin .spip-admin-bloc .spip-admin-boutons#statistiques,
  #spip-admin.spip-admin-float .spip-admin-boutons#statistiques {
    display: none;
  }
}
