.thumbnail {
  width: 90px;
  height: 90px;
  border: 1px solid block;
  display: block;
  background-color: #ccc;
  border: 20px solid #cdcdcd;
  box-sizing:border-box;

}
.thumbnail:hover {
  border-color: #ddd;

}
.active {
  border-color: #d00;
}
.active:hover {
  border-color: #f00;
}